/*
colors used
Primary color: (coral) #FF8A71;
Secondary: (Jet) #303030;
Tertiary: (Dim Grey) #606060;
button: #F9765B
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.65;
  color: #303030;
  font-size: 16px;
}

header {
  background-color: #FFF7F5;
  padding: 17px 0 12px;
  box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.47);
  position: fixed;
  width: 100%;
}

footer {
  background-color: #FFF7F5;
  text-align: center;
  margin-top: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.000em;
  font-weight: 600;
  text-align: center;
  line-height: 1.6em;
  margin: 0;
}

h2 {
  font-size: 1.714em;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 1.333em;
}

h4 {
  font-size: 1.143em;
}

h5 {
  font-size: 1.0em;
}

img, svg {
  width: 100%;
}

a {
  color: #FF8A71;
}

a:visited {
  /* visited link */
  color: #FF8A71;
}

a:hover,
a:focus {
  font-weight: 700;
}

a:active {
  /* selected link */
  font-weight: 700;
}

.button {
  display: inline-block;
  background-color: #FF8A71;
  color: #ffffff !important;
  font-weight: 600;
  text-transform: uppercase;
  padding: 7px 15px;
  border-radius: 10px;
  border-bottom: 2px solid #606060;
  text-decoration: none;
  transition: 0.2s opacity;
}

.button:hover,
.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #FF8A71 !important;
  text-transform: uppercase;
  border: 2px solid #FF8A71;
}

.button.contact:hover {
  background-color: #FF8A71;
  color: #ffffff !important;
  opacity: 0.8;
}

/* Layout styling */
.container {
  padding: 0 20px;
}

.section {
  padding: 25px 0;
}

.section:last-child {
  padding-bottom: 0;
}

.row {
  padding: 25px 0;
}

main {
  padding-top: 74px;
}

.logo {
  max-width: 120px;
}

nav>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 25px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 17px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  text-align: right;
  padding: 8px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 8px;
}

#hero {
  background-color: #FFF7F5;

  width: 100%;
}

#hero {
  text-align: center;
}

#hero span {
  display: block;
  font-weight: 400;
}

.social-links>a {
  width: 60px;
  height: 60px;
  padding: 10px;
  display: inline-block;
}

#contact {
  display: inline-block;
  width: 100%
}

#contact h2 {
  padding-top: 15px;
  margin: 0 auto;
}

.button.contact {
  margin: 10px auto;
}

#about-page h3 {
  margin-top: 0;
}

#about-page ul {
  padding-left: 20px;
}

#work h3 {
  margin-top: 0;
}

.center {
  text-align: center;
}

.column {
  padding: 15px 0;
}

.location {
  font-weight: 700;
}

#work .row {
  border-bottom: 1px solid #FF8A71;
  padding: 35px 0;
}
#work .row:last-child {
  border-bottom: none;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 6s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: cloud-move 10s infinite linear alternate;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 15s cloud-move-reverse alternate infinite linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    padding-bottom: 0;
  }

  nav > ul {
    margin-top: 1em;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
}

  .logo {
    max-width: 170px;
  }

  main {
    padding-top: 90px;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
    padding: 0 10px;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  #story img {
    max-width: 70%;
  }

  [class*="col-"] {
    padding: 0 20px;
  }

}
