/*
colors used
Primary color: (Flame) #E4572E;
Secondary: (Jet) #303030;
Tertiary: (Dim Grey) #606060;
link hover: #F4714B;
link visited: #BC4826;
link active: #F65627;
*/
body {
  background-color: #ffffff;
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
  line-height: 1.65;
  color: #303030;
  font-size: 16;
}

h1 {
  font-size: 1.6em;
  font-weight: 400;
}

h2 {
  font-size: 1.4em;
  font-weight: 400;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1.1em;
  font-weight: 400;
}

h5 {
  font-size: 1.2em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #E4572E;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #BC4826;
}

a:hover,
a:focus {
  font-weight: 600;
}

a:active { /* selected link */
    font-weight: 600;
}

.button {
  display: inline-block;
  background-color: #E4572E;
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 2px solid #606060;
}

.button:hover,
.button:active {
  opacity: 0.9; /* Reduces the opacity of the button to 80% */
  padding: 10.5px;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #E4572E;
  text-transform: uppercase;
  border: 2px solid #E4572E;

}

.button.contact:hover {
  background-color: #E4572E;
  color: white;
  opacity: 0.9;
}
