/*
colors used
Primary color: (coral) #FF8A71;
Secondary: (Jet) #303030;
Tertiary: (Dim Grey) #606060;
button: #F9765B
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.65;
  color: #303030;
  font-size: 16px;
  margin: 0;
}

header {
  background-color: #FFF7F5;
  text-align:center;
  padding: 10px 0;
  box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.47);
  position: fixed;
  display: inline-block;
  width: 100%;
}

footer {
  background-color: #FFF7F5;
  text-align: center;
}

h1 {
  font-family: 'Spartan', sans-serif;
  font-size: 2.625em;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: 'Spartan', sans-serif;
  font-size: 2.250em;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: 'Spartan', sans-serif;
  font-size: 1.333em;
  font-weight: 400;
}

h4 {
  font-family: 'Spartan', sans-serif;
  font-size: 1.190em;
  font-weight: 400;
}

h5 {
  font-family: 'Spartan', sans-serif;
  font-size: 1.0em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #FF8A71;
  text-decoration: underline; /* No underlining */
}

a:visited { /* visited link */
  color: #FF8A71;
}

a:hover,
a:focus {
  font-weight: 700;
}

a:active { /* selected link */
    font-weight: 700;
}

.button {
  display: inline-block;
  background-color: #FF8A71;
  color: #ffffff !important;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 4px;
  border-bottom: 2px solid #606060;
  text-decoration: none;
}

.button:hover,
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #FF8A71 !important;
  text-transform: uppercase;
  border: 2px solid #FF8A71;
}


.button.contact:hover {
  background-color: #FF8A71;
  color: #ffffff !important;
  opacity: 0.8;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 35px 0;
}

main {
padding-top: 160px;
}

.logo {
  max-width: 250px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}

#hero {
  background-color: #FFF7F5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero {
  text-align: center;
}

#hero span {
  display: block;
  font-weight: 400;
}

.social-links > a {
  width: 60px;
  padding: 10px;
  display: inline-block;
}

#contact {
  display: inline-block;
  width: 100%
}

#contact h2{
  padding-top: 15px;
  margin: 0 auto;
}

.button.contact {
    margin: 10px auto;
}
