/*
colors used
Primary color: (coral) #FF8A71;
Secondary: (Jet) #303030;
Tertiary: (Dim Grey) #606060;
button: #F9765B
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.65;
  color: #303030;
  font-size: 16px;
}

header {
  background-color: #FFF7F5;
  text-align: center;
  padding: 40px 0;
  box-shadow: 0px 2px 5px 0px rgba(140, 140, 140, 0.47);
  position: fixed;
  width: 100%;
}

footer {
  background-color: #FFF7F5;
  text-align: center;
}

h1, h2, h3, h4, h5 { font-family: 'Spartan', sans-serif; font-weight: 400;}

h1 {
  font-size: 2.000em;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 1.714em;
  text-align: center;
}

h3 {
  font-size: 1.333em;
}

h4 {
  font-size: 1.143em;
}

h5 {
  font-size: 1.0em;
}

img {
  width: 100%;
}

a {
  color: #FF8A71;
}

a:visited {
  /* visited link */
  color: #FF8A71;
}

a:hover,
a:focus {
  font-weight: 700;
}

a:active {
  /* selected link */
  font-weight: 700;
}

.button {
  display: inline-block;
  background-color: #FF8A71;
  color: #ffffff !important;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 4px;
  border-bottom: 2px solid #606060;
  text-decoration: none;
}

.button:hover,
.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #FF8A71 !important;
  text-transform: uppercase;
  border: 2px solid #FF8A71;
}

.button.contact:hover {
  background-color: #FF8A71;
  color: #ffffff !important;
  opacity: 0.8;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 40px 0;
}

main {
  padding-top: 130px;
}

.logo {
  max-width: 170px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
}

#hero {
  background-color: #FFF7F5;
  padding: 40px 0;
  width: 100%;
}

#hero {
  text-align: center;
}

#hero span {
  display: block;
  font-weight: 400;
}

.social-links>a {
  width: 60px;
  padding: 10px;
  display: inline-block;
}

#contact {
  display: inline-block;
  width: 100%
}

#contact h2 {
  padding-top: 15px;
  margin: 0 auto;
}

.button.contact {
  margin: 10px auto;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 12px 10px 8px;
  }

  nav {
    width: auto;
    float: right;
  }

  .logo {
    max-width: 170px;
  }

  main {
    padding-top: 80px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  body {
    font-size: 18px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 {
  margin-top: 0;
}

#about-page h2 {
  margin-top: 40px ;
}

#about-page ul {
  list-style: none;
  padding: 0;
}

#work h3 {
  margin-top: 0;
}
